.App {
  position: relative;
  height: 100vh;
  overflow: hidden;
  background-color: #1a1a1a;
}

.layout-container {
  position: relative;
  z-index: 1;
  display: flex;
  gap: 1.5rem;
  height: 100vh;
  padding: 1rem;
  margin: 0 auto;
  overflow: hidden;
}